<!DOCTYPE html>
<html>
  <head>
    <title>Pokemon Details</title>
    <link rel="stylesheet" href="../public/css/style.css">
  </head>
  <body>
    <div class="pokemon-details"><img class="pokemon-image2" alt="Pokemon Image">
      <p class="pokemon-number"></p>
      <p class="pokemon-name"></p>
      <p class="pokemon-type"></p>
      <p class="pokemon-description"></p>
      <p class="pokemon-height"></p>
    </div>
    <button onclick="goBack()">Go Back</button>
    <script>
      function getQueryParameter(name) {
        const urlParams = new URLSearchParams(window.location.search);
        return urlParams.get(name);
      }
      
      const pokemonName = getQueryParameter('name');
      
      fetch('Pokemon.json')
        .then(response => response.json())
        .then(data => {
          const pokemon = data.find(p => p.Name === pokemonName);
          if (pokemon) {
            document.querySelector('.pokemon-image2').src = pokemon.Bild;
            document.querySelector('.pokemon-number').textContent = `Nr: ${pokemon.Nr}`;
            document.querySelector('.pokemon-name').textContent = pokemon.Name;
            document.querySelector('.pokemon-type').textContent = `Type: ${pokemon.Typ}`;
            document.querySelector('.pokemon-description').textContent = pokemon.Beschreibung;
            document.querySelector('.pokemon-height').textContent = `Height: ${pokemon.Größe}`;
          } else {
            console.log('Pokemon not found');
          }
        })
        .catch(error => console.log(error));
      
      function goBack() {
        history.pushState({}, '', 'index.html');
        window.location.reload();
      }
    </script>
  </body>
</html>